

.article__texte {
    position: relative;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	line-height: 5em;
	color: black;
	background-color: rgba(255, 255, 255, 0.55);
	top: 0;
	display: none;
}

.article__titre {
    position: relative;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	line-height: 5em;
	color: black;
	background-color: rgba(255, 255, 255, 0.55);
	top: 0;
	display: none;
}

.article__carrousel {
	width: 280px;
	height:450px;
	position: absolute;
	top: 0; left: 0;
}

.imgs__carrousel {
	height:450px;
	overflow: hidden;
	position: relative;
}

.articles__carrousel {
	width: 280px;
	height:450px;
	overflow: hidden;
	margin: auto;
}