/* * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

figure, ul, body {
    margin: 0;
}

figcaption {
    background-color: #0F0;
    position: relative;
}
*
figcaption > div {
  transform: translatey(-100px);
}

figcaption::before {
    --height:200px;
    position: absolute;
    top: calc(-1 * var(--height));
    content: '';
    display: block;
    width: 0;
height: 0;
border-style: solid;
border-width: var(--height) 0 0 100vw;
border-color: transparent transparent transparent #007bff;
}
*/

/*variables*/

@import url(utils/variables.css);

/*layout*/

@import url(layout/header.css);
@import url(layout/footer.css);

/*vendors*/

@import url(vendors/normalize.css);

/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*components*/

@import url(components/menu.css);
@import url(components/intro.css);
@import url(components/hero.css);
@import url(components/encadré.css);
@import url(components/contenu.css);

/*base*/

@import url(base/main.css);