* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

figure, ul, body {
    margin: 0;
}

figcaption {
    background-color: #0F0;
    position: relative;
}
*
figcaption > div {
  transform: translatey(-100px);
}

figcaption::before {
    --height:200px;
    position: absolute;
    top: calc(-1 * var(--height));
    content: '';
    display: block;
    width: 0;
height: 0;
border-style: solid;
border-width: var(--height) 0 0 100vw;
border-color: transparent transparent transparent #007bff;
}